{{! CARDS PARA LOS PRODUCTOS }}

{{#each productos}}
  <div class='card'>
    <article class='card__article'>
      <div class='card__image-container'>
        <img src='{{imagen}}' alt='{{nombre}}' class='card__image' />
      </div>
      <div class='card__content'>
        <h2 class='card__heading'> {{nombre}} </h2>
        <div class='card__description'>
          <p>{{descripcion}}</p>
        </div>
      </div>
    </article>
  </div>
{{/each}}