<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nosotros</title>
  </head>
  <body>
    <header class="main-header">
      <input type="checkbox" id="menu" />

      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link">Inicio</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link">Alta</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="views/contacto.html" class="nav-bar__nav-link">Contacto</a>
          </li>
        </ul>
      </nav>
      <!-- .nav-bar -->

      <div class="search-bar">
        <div class="search-bar__logo-container">
          <img
            class="search-bar__logo3d4u"
            src="/img/Logo3D4UOriginal.webp"
            alt="Logo 3D4U Orginal Morado con Amarillo"
          />
        </div>
        <form action="#" class="search-bar__form-container">
          <label for="busqueda" class="search-bar__form-label"
            >Buscar Figuras</label
          >
          <input type="search" class="search-bar__form-search" id="busqueda" />
          <input type="submit" class="search-bar__form-submit" value="Buscar" />
        </form>
        <div class="search-bar__carrito-container">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      <!-- .search-bar -->
    </header>
    <!-- main -header -->

    <div class="Head-section">
      <!-- Head-section -->
      <h1>NOSOTROS SOMOS</h1>

      <div class="contenedor_logo">
        <img
          class="logo"
          src="/img/Logo3D4UOriginal.webp"
          alt="Logo 3D4U Orginal Morado con Amarillo"
        />
      </div>
      <!-- Head-section -->
    </div>

    <div class="Info-section">
      <!-- INICIO Info-section -->
      <p>
        En nuestra empresa, convertimos los sueños en una realidad palpable. Nos
        dedicamos a diseñar, imprimir y pintar para vos figuras en 3D detalladas
        que capturan la esencia de tus personajes favoritos y las pasiones que
        te inspiran. Desde héroes de comics hasta criaturas mitológicas, cada
        pieza es una obra de parte personalizada que puedes coleccionar y
        atesorar.
      </p>

      <div class="History_section">
        <h2 class="History_section__tittle">Nuestra Historia</h2>

        <h3>¿Cómo comenzamos?</h3>

        <p>
          Nuestra aventura comenzó como la historia de dos geeks apasionados por
          las series, películas, animé y personajes que nos encantan. En
          nuestros ratos libres, siempre disfrutábamos creando cosas artísticas
          juntos, y un día, decidimos dar el salto e invertir en una impresora
          3D. La idea era simple: imprimir y pintar todos los personajes que
          adoramos para coleccionarlos y llenar nuestra casa de magia, alegría,
          personalización y recuerdos.
        </p>

        <p>
          Lo que empezó como un proyecto personal rápidamente ganó atención
          cuando compartimos fotos de nuestras creaciones con amigos y en redes
          sociales. La respuesta fue abrumadora; ¡a todos les encantaron! Poco a
          poco, comenzamos a recibir pedidos, y lo que era un hobbie se
          transformó en una emocionante aventura empresarial.
        </p>

        <p>
          Hoy, estamos orgullosos de convertir nuestro tiempo de esparcimiento
          en una fuente de alegría para otros. Cada figura que diseñamos,
          imprimimos y pintamos es una obra de amor, hecha para que puedas tener
          en tus manos esos personajes que tanto te gustan. Así nació nuestra
          empresa, dedicada a crear figuras en 3D que no solo decoran espacios,
          sino que también cuentan historias y despiertan pasiones.
        </p>
      </div>
      <div class="Info-section__cardsMV">
        <div class="Info-section__Mision">
          <h2>Misión</h2>

          <p>
            Ofrecer la oportunidad única de tener en tus manos figuras que no
            solo reflejan tus intereses, sino que también añaden un toque de
            creatividad y exclusividad a tus espacios.
          </p>
        </div>

        <div class="Info-section__Vision">
          <h2>Visión</h2>

          <p>
            Materializar tus deseos y transformar tus ideas en esculturas
            impresionantes que puedas disfrutar y exhibir con orgullo.
          </p>
        </div>
      </div>
      <!-- FIN CARS MyV -->

      <div class="Counters">
        <!-- INICIO SECTION COUNTER -->
        <div class="Counters__Numbers2024">
          <h3>2024</h3>
          <p>
            Fundada a inicios de 2024, ahora gracias a la virtualidad, tomamos
            pedidos de cualquier parte del mundo y realizamos envíos globales.
          </p>
        </div>

        <div class="Counters__Numbers25">
          <h3>+25</h3>
          <p>
            En menos de 6 meses ya hemos realizado más de 25 entregas de figuras
            a nuestros clientes satisfechos.
          </p>
        </div>

        <!-- FIN SECTION COUNTER -->
      </div>

      <div class="Creation-section">
        <h2>Creación del producto</h2>

        <p>
          Cada figura que realizamos es una obra personalizada para nuestros
          clientes, tratada con el mismo cariño y detalle como si fuera para
          nosotros mismos. Nos apasiona cada paso del proceso: desde la
          selección y diseño de la figura, su impresión y tratamiento, hasta la
          meticulosa etapa de pintura y curación. Finalmente, envolvemos cada
          pieza con esmero, asegurándonos de que llegue en perfectas
          condiciones. Sabemos que estas figuras se convertirán en parte
          importante de los espacios y recuerdos de nuestros clientes, y por eso
          nos esforzamos en entregarles siempre lo mejor. Cada creación es una
          manifestación de nuestra dedicación y amor por lo que hacemos,
          destinada a ser atesorada por quienes la reciben.
        </p>
      </div>
      <!-- FIN  CREATION SECTION -->
    </div>
    <!-- FIN Info-section -->

    <div class="Images-section">
      <h2>De tus deseos a la realidad</h2>
      <div class="Images-section__Steps-Container">
        <div class="Images-section__images-container">
          <div class="Images-section__images-container__card">
            <h3>Diseño</h3>
            <img
              src="/img/diseño.webp"
              alt="Hombre diseñando un dinosaurio 3D en un computador"
              class="Images-section__images-container__images"
            />
          </div>
          <div class="Images-section__images-container__card">
            <h3>Creación</h3>
            <img
              src="/img/creacion.webp"
              alt="Mujer con figura 3D en la mano, detallandola en color amarillo"
              class="Images-section__images-container__images"
            />
          </div>
          <div class="Images-section__images-container__card">
            <h3>Entrega</h3>
            <img
              src="/img/entrega.webp"
              alt="Hombre entregando una caja rotulada de frágil a una chica, ambos felices"
              class="Images-section__images-container__images"
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>Creado en 2024 | © Derechos Reservados © | 3D4U Heredia, Costa Rica</p>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>
