.Banner-Container {
  position: fixed;
  height: 100%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;

  &__usImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100% 20%;
  }
}

.Banner-Container::before {
  content: ''; // Sirve para crear el pseudo elemento before, me permite crear el efecto visual
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1; //Lo coloco por encima de la imagen en el eje Z
//   border: 10px solid seagreen;
}

@media (max-width: 768px){

    .Banner-Container{
        &__usImage{
            object-position: 70% 20%; //Cambio posición imagen de fondo para mobile
        }
    }
}
