.Banner-Container {
  position: fixed;
  height: 100%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;

  &__usImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100% 20%;
  }
}
//? PSEUDO ELEMENTO PARA CREAR EFECTO VISUAL
.Banner-Container::before {
  content: ''; // Sirve para crear el pseudo elemento before, me permite crear el efecto visual
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1; //Lo coloco por encima de la imagen en el eje Z
  //   border: 10px solid seagreen;
}

.Banner-Container-fixed {
  position: relative;
  height: 400px;
  width: 100%;
  justify-content: left;

  &__ContactImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 22%;
  }

  &__HomeImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 55%;
  }
}

.Banner-Container-fixed::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 5, 194, 0.3);
  z-index: 1;
  //Agrego imagen del logo al overlay y la posiciono.
  background-image: url(/public/img/Logo3D4UBlack.webp);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 12%;
}

@media (max-width: 768px) {
  .Banner-Container {
    &__usImage {
      object-position: 70% 20%; //Cambio posición imagen de fondo para mobile
    }
  }

  .Banner-Container-fixed {
    height: 200px;
    &__ContactImage {
      object-position: 50% 20%;
    }
    &__HomeImage {
      object-position: 50% 65%;
    }
  }
  .Banner-Container-fixed::before {
    background-position: 95%;
    background-size: 15%;
  }
}
