.card {
    width: 220px;
    max-width: 300px;
    height: 370px;
    background-color:  white;
    overflow: hidden; /* Ajusta al contenedor, lo que sobra lo corta */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 5px 0px (0,0,0,0.5);
    transition: clip-path .8s; /* NO puede ser ALL | MALA PRACTICA | Se deben poner las propiedades que quiero animar por ejemplo clip-path */


    &:hover,
    &:focus{
        transform: scale(1.03); 
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 0px rgba(0 ,0 ,0 ,0.5);
        background-color: #6405C2;
        /* color: whitesmoke; */
    }

    &__image-container{
        height: 200px;
        overflow: hidden;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover & image,
    &:focus &__image {
        transform: scale(1.4) rotate(5deg);
        transform-origin: center;
    }

    &__content{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.2rem;
    }

    &:hover &__description, 
    &:focus &__description  {
        color: white;
    }

    &:hover &__heading, 
    &:focus &__heading {
        color: #F6C500; 
    }



    /* cambiarle el color */
  /*   &:nth-child(5n +1){
        background-image: white;
    } */

   /*  &:nth-child(5n +2){ 
        background-image: white;
    } */

  /*   &:nth-child(5n +4){ 
        background-image: white;
    } */

    &__image-container{
        height: 200px;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% 220px, 0 180px); /* Estado inicial, sin mouse encima */
    }

    &:hover &__image-container,
    &:focus &__image-container {
        clip-path: polygon(0 0, 100% 0, 100% 200px, 0 990px); /* Estado final */
        border: 5px solid #6405C2;
    }

    /* -------------------------------------------------------------------- */

    @media (max-width: 768px){
        & {
            min-width: 400px;
            max-width: 500px;
            height: 200px;
        }

        &__article{
            display: flex;
        }

        & &__image-container{ /* .card .card__image-container */
            width: 40%;
            /* clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%); */ /* Estado Inicial */
        }

        &:hover &__image-container,
        &:focus &__image-container {
            width: 40%;
            /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */ /* Estado final */
        }
    }
}

.section-cards{

    &__header{
        padding-bottom: 2rem;
        padding-top: 0.8rem;
        text-align: center;
    }
}