
table.tabla-tabla{
    border-collapse: collapse;
    width: 95%&;
    margin: 1rem auto;
}

th, td {
    border: 1px solid #6405c2;
    padding: 8px;
    text-align: left; 
}

th {
    background-color: #f6c500;
}