.lbl_form {
    padding-left: 0.5rem;
    color: #6405c2;
    margin-bottom: 2rem;
    font-weight: 500;
}

input{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

h1{
    color: #6405c2;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

h3{
    margin-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

button {
    background-color: #6405c2;
    color: white;
    padding: 0.4rem;
    font-weight: 90%;
    font-size: medium;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    border: none;
    padding: 0.8rem;

    &:hover {
        background-color: #f6c500;
        border: none;
        width: 8%;
        color: #6405c2;
    }
}


//#6405c2

//#f6c500;
