/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

@media (min-width:576px) {
    .main-header {
      display: flex;
      flex-direction: column;
    }
  
    // ! LO QUE ESTA EN EL MEDIA DE MAX LO SACO Y LO QUE ESTA FUERA LO METO DENTRO DEL MEDIA
  
    #menu {
      display: none;
  
      &:checked + .nav-bar {
        display: block;
      }
  
      &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: #6405c2;
      }
    }
  }
  
  @media (max-width: 768px) {
    .main-header {
      flex-direction: column;
    }
  }
  
  
  /* ----------------------------- */
  /* MENÚ TOOGLE */
  /* ----------------------------- */
  
  @media (min-width: 576px) {
    .menu-toogle {
      display: none;
      flex: 0 0 3rem;
      position: relative;
      cursor: pointer;
  
      &__label {
        display: block;
        background-color: black;
        height: 100%;
      }
  
      &__top-bread,
      &__meat,
      &__bottom-bread {
        display: block;
        background-color: #f6c500;
        height: 0.2em;
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
      }
  
      &__top-bread {
        top: 0.8rem;
      }
  
      &__meat {
        top: 50%;
        margin-top: -0.1rem;
      }
      &__bottom-bread {
        bottom: 0.8rem;
      }
    }
  }
  
  @media (max-width: 768px) {
    .menu-toogle {
      /* menu-toogle */
      display: block;
    }
  }
  