.imgCarrito{
    width: 20%;
}

.bttnCarrito{
    background-color: #f6c500;
    font-size: medium;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: #6405c2;
    text-transform: uppercase;
}