/* ----------------------------- */
  /* NAVBAR */
  /* ----------------------------- */
  
  @media (min-width: 576px) {
    .nav-bar {
      background-color: #6405c2;
  
      &__nav-list {
        /* .nav-bar__nav-list */
        display: flex;
        list-style-type: none;
        justify-content: center;
        font-size: large;
        font-weight: 500;
  
        @media (max-width: 768px) {
          & {
            // flex-direction: column;
            //Hago más pequeña las letras del menú.
            font-size: medium;
            font-weight: 400;
          }
        }
      }
  
      &__nav-item {
        text-align: center;
      }
  
      &__nav-link {
        display: block;
        padding: 1rem 2rem;
        text-decoration: none;
        color: #f6c500;
        &:hover,
        &:focus {
          box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 1);
          border-radius: 0.5rem;
          background-color: black;
          color: white;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .nav-bar {
      display: none;
    }
  }
  
