
table.tabla-tabla{
    border-collapse: collapse;
    width: 95%&;
    margin: 1rem auto;
}

th, td {
    border: 1px solid #6405c2;
    padding: 8px;
    text-align: center; 
}

th {
    background-color: #f6c500;
    color: #6405c2;
    font-weight: bold;
    padding: 1.5rem;
    font-size: larger;
}